
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe-form {
    button {
        color: #545453;
        background-image: linear-gradient(190deg, #f3d3d3, #e5b4b3);
    }
}

.contact-btn {
    color: #545453;
    background-image: linear-gradient(180deg, #f3d3d3, #e5b4b3);
}