
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-size: 6.25rem;
		font-weight: 400;
		line-height: 1.1;

		@include media-breakpoint-down(sm) {
			font-size: 4rem;
		}
	}
}